table {
  border-collapse: collapse;
  margin-left: 32px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.cuForm { 
  margin-left: 32px;
}
input, select { 
  margin-bottom: 4px;
  margin-right: 12px;
}

nav {
  background-color: #cecece;
  padding: 16px;
}

a {
  margin-left: 16px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.pageContent {
  margin: 0 32px;
  margin-bottom: 32px;
}

.homepageIndex {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.homepageIndex a {
  padding: 5px;
}

.homepageIndexElement {
  font-weight: bold;
  font-size: 1.2rem 1.2rem;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 5px;
  border-top: 1px solid black;
  text-align: left;
}